.persondetails {
    &__breadcrumb {
        padding-top: 35px;
        padding-bottom: 35px;
            a {
                font-weight: 500;
                font-size: 15px;
                line-height: 18px;
                color: #A5A8B3;
                text-decoration: none;
                display: flex;
                align-items: center;
            }
            .back-icon {
                width: 24px;
                height: 24px;
                display: inline-block;
                background: #96C1F9;
                border-radius: 4px;
                margin-right: 15px;
                background-image: url('../../assets/icons/back-icon.svg');
                background-repeat: no-repeat;
                background-position: center;
            }
    }
    .person {
        .person__buttons {
            justify-content: center;
            a {
                &:first-child {
                    display: none;
                }
            }

        }
    }

    &__wrapper {
        display: flex;
    }
}