@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Roboto', sans-serif;
	background-color: #fdfdfd;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.App {
	display: flex;
}

.container {
	width: calc(100% - 256px);
}

.container-inside {
	width: 960px;
	margin: 0 auto;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #ABB6C5;
	opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: #ABB6C5;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
	color: #ABB6C5;
  }

  .tag {
    width: 24px;
	height: 14px;
	float: left;
    font-size: 8px;
    line-height: 16px;
    font-weight: 500;
    text-align: center;
  }
  
  .tag-fiolet {
	color: #826CFC;
	background: #F2F0FE;
  }

  .tag-blue {
	color: #0085FF;
	background: #C0E8FF;
  }

  .tag-green {
	color: #54B806;
	background: #D7FFE2;
  }

  .tag-yellow {
	color: #D4A707;
	background: #FFF9C7;
  }

  .tag-no-bg {
	background: transparent !important;
	float: right;
	margin-left: 15px;
  }

