.person {
    width: 202px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0.845026px 2.53508px 10.1403px rgba(0, 0, 0, 0.03);
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;

    &__profile {
        display: flex;
        align-items: center;

        &-picture{
            width: 50px;
            height: 50px;
            position: relative;

            img {
                max-width: 100%;
                border-radius: 100%;
                -webkit-border-radius: 100%;
                -moz-border-radius: 100%;
                -ms-border-radius: 100%;
                -o-border-radius: 100%;
                }

                span {
                    font-weight: 700;
                    font-size: 9px;
                    line-height: 11px;
                    color: #637DF1;
                    width: 23px;
                    height: 23px;
                    border: 2px solid #FFFFFF;
                    background: #F4F5F9;
                    border-radius: 50%;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    display: flex;
                    align-items: center;
                    position: absolute;
                    justify-content: center;
                    -o-border-radius: 50%;
                    top: -9px;
                    left: -12px;
                }
        }
        &-info{
            margin-left: 10px;
            &-name {
                font-weight: 500;
                font-size: 15px;
                line-height: 18px;
                color: #6F737C;
                margin-bottom: 5px;
            }
            
            &-email {
                font-size: 11px;
                line-height: 13px;                
                color: #6F737C;
                
            }
        }
    }
    &__tags {
        margin-left: 60px;
        
        .tag {
            width: 30px;
            margin-right: 5px;
            height: 17px;
            line-height: 17px;
        }
    }

    &__company {
        display: flex;
        width: 164px;
        background: #F7FCFF;
        margin: 0 auto;
        margin-bottom: 15px;
        margin-top: 35px;
        padding: 10px 5px;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;

        &-border  {
            width: 2px;
            height: 18px;
            margin-right: 10px;
            margin-left: 10px;
            background-image: url('../../assets/icons/line.svg');
        }
    &-head {
        font-weight: 500;
        font-size: 11px;
        line-height: 13px;
        color: #5E646F;
        margin-bottom: 5px;
    }
    &-info {
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        color: #9BA5B7;
    }
}

&__buttons {
    display: flex;
    justify-content: space-between;
    width: 174px;
    margin: 0 auto;

    &-button {
        width: 83px;
        height: 29px;
        background-color: #fff;
        border: 1px solid #E9E9E9;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        color: #507FF9;
        cursor: pointer;

        img {
            vertical-align: middle;
            margin-right: 5px;
        }

        &:hover {
            background: #F0F4FF;
            border-color: #F0F4FF;;
        }


        &:focus {
            outline: none !important;
            border: 1px solid #F0F4FF;
        }
}
}
&__click {
    cursor: pointer;
}
}
.sub-item {
    display: block;
  }
  
  .sub-item.collapsed {
    display: none;
  }